*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(33, 21, 87);
}

.text{
  color : rgb(8, 175, 175)
}