* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-y: visible;
  overflow-x: hidden;
  font-size: 1.15rem;
  font-family: "Montserrat", sans-serif;
  background-color: #3d405b;
}

.text {
  color: rgb(8, 175, 175);
}
